@model List<TaskManagementApplication.ViewModels.TaskVm>;

@using TaskManagementApplication.Helpers
@using TaskManagementApplication.Models;

@{
    ViewData["Title"] = "Tasks";
    var priorities = Enum.GetValues(typeof(Priority)).Cast<Priority>();
    var statuses = Enum.GetValues(typeof(Status)).Cast<Status>();
}

<div class="container mt-4">
    <h2 class="text-center mb-5">Tasks</h2>
    <form method="get" class="row g-3 mb-5">
        <div class="col-md-2">
            <label for="searchQuery" class="form-label">Search</label>
            <input type="text" class="form-control" id="searchQuery" name="searchQuery" placeholder="Title or Description" />
        </div>
        <div class="col-md-2">
            <label for="fromDate" class="form-label">From Date</label>
            <input type="date" class="form-control" id="fromDate" name="fromDate" />
        </div>
        <div class="col-md-2">
            <label for="toDate" class="form-label">To Date</label>
            <input type="date" class="form-control" id="toDate" name="toDate" />
        </div>
        <div class="col-md-2">
            <label for="priority" class="form-label">Priority</label>
            <select class="form-select" id="priority" name="priority">
                <option value="">All</option>
                @foreach (var priority in priorities)
                {
                    <option value="@priority">@priority</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status">
                <option value="">All</option>
                @foreach (var status in statuses)
                {
                    <option value="@status">@status</option>
                }
            </select>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>

    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td>@task.Title</td>
                        <td>
                            @task.DateTime?.ToString("g") &nbsp; &nbsp;
                            @if (task.DateTime.HasValue && task.DateTime.Value <= DateTime.Now.AddDays(3))
                            {
                                <span class="badge bg-primary countdown-timer" data-datetime="@task.DateTime?.ToString("o")"></span>
                            }
                        </td>

                        <td>
                            <span class="badge @BadgeHelper.GetPriorityBadgeClass(task.Priority)">@task.Priority</span>
                        </td>
                        <td>
                            <span class="badge @BadgeHelper.GetStatusBadgeClass(task.Status)">@task.Status</span>
                        </td>
                        <td class="row" style="justify-content: space-between;">

                            <a asp-action="Details" asp-route-id="@task.Id" class="col-md-3">

                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                </svg>
                            </a>

                            <a asp-action="Edit" asp-route-id="@task.Id" class="col-md-3">

                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="orange" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </a>

                            <a asp-action="DeleteConfirmation" asp-route-id="@task.Id" class="col-md-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                </svg>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <a class="btn btn-primary text-center float-end" asp-area="" asp-controller="Task" asp-action="Create">Create</a>
    }
    else
    {
        <div class="alert alert-info">
            <p>No tasks found.</p>
            <br />
            <a class="btn btn-primary" asp-area="" asp-controller="Task" asp-action="Create">Create</a>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function updateCountdownTimers() {
                var now = new Date().getTime();
                $('.countdown-timer').each(function () {
                    var dueDate = new Date($(this).data('datetime')).getTime();
                    var timeDiff = dueDate - now;

                    if (timeDiff > 0) {
                        var days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);

                        $(this).text(`Upcoming - ${days}d ${hours}h ${minutes}m ${seconds}s`);
                    } else {
                        $(this).text('Expired');
                        $(this).removeClass('bg-primary').addClass('bg-secondary');
                    }
                });
            }

            updateCountdownTimers();
            setInterval(updateCountdownTimers, 1000); // Update every second
        });
    </script>
}